@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  /* Breakpoints */
  --breakpoint-xxs: 23.75rem; /* 380px */
  --breakpoint-xs: 30rem; /* 480px */
  --breakpoint-3xl: 112.5rem; /* 1800px */

  /* Sizing */
  --spacing-container: 118.75rem; /* 1900px */
  --spacing-container-inner: 101.25rem; /* 1620px */

  --spacing-padding-x: 0.625rem; /* 10px */

  /* Colors */
  --color-brand-dark: #00382d;
  --color-brand-primary: #0272db;
  --color-brand-primary-soft: #5ed7e4;
  --color-brand-card: #fdffe6;
  --color-brand-spring: #96fab9;
  --color-brand-dusk: #0b3c45;
  --color-brand-text: #222222;

  /* Transitions */
  --default-transition-duration: 300ms;
}

/* Custom slider til Dansk Boliglån */
input[type='range'].db-slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

input[type='range'].db-slider:focus {
  outline: none;
}

input[type='range'].db-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  border: none;
}

input[type='range'].db-slider::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
  background: transparent;
}

input[type='range'].db-slider::-ms-thumb {
  width: 0;
  height: 0;
  border: none;
  background: transparent;
}
