@import 'tailwindcss';
@import 'tw-animate-css';

@plugin '@tailwindcss/typography';

@theme {
  /* Fonts */
  --font-sans: var(--font-ubuntu-sans);

  /* Breakpoints */
  --breakpoint-xxs: 23.75rem; /* 380px */
  --breakpoint-xs: 30rem; /* 480px */
  --breakpoint-3xl: 112.5rem; /* 1800px */

  /* Spacing */
  --spacing-global-padding: 0.625rem; /* 10px */

  /* -- Grid */
  --spacing-gutter: 1.5rem; /* 24px */

  /* -- Containers */
  --spacing-container: 118.75rem; /* 1900px */
  --spacing-container-inner: 101.25rem; /* 1620px */

  /* Colors */
  --color-brand-dark: #00382d;
  --color-brand-primary: #0272db;
  --color-brand-primary-soft: #5ed7e4;
  --color-brand-card: #fdffe6;
  --color-brand-spring: #96fab9;
  --color-brand-dusk: #0b3c45;
  --color-brand-text: #222222;

  --color-trustpilot: #219653;

  /* Text */
  --text-7xl: 5rem; /* 80px */
  --text-7xl--line-height: 1.15;

  /* Transitions */
  --default-transition-duration: 300ms;

  /* Z-indexes */
  --z-index-header: 100;
}

@utility prose-custom {
  /* Typography */
  --tw-prose-body: var(--color-brand-dark);
  --tw-prose-headings: var(--color-brand-dark);
}

@layer base {
  /* Section container padding */
  :root {
    --container-padding: calc(var(--spacing) * 5);
  }

  @variant 2xl {
    :root {
      --container-padding: calc(var(--spacing) * 16);
    }
  }

  @variant 3xl {
    :root {
      --container-padding: calc(var(--spacing) * 36);
    }
  }
}

/* Custom slider til Dansk Boliglån */
input[type='range'].db-slider {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
}

input[type='range'].db-slider:focus {
  outline: none;
}

input[type='range'].db-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  border: none;
}

input[type='range'].db-slider::-moz-range-thumb {
  width: 0;
  height: 0;
  border: none;
  background: transparent;
}

input[type='range'].db-slider::-ms-thumb {
  width: 0;
  height: 0;
  border: none;
  background: transparent;
}
